{% extends "layout.html" %}
{% block title %} Home Page {% endblock %}

{% block body %} 
    {{super()}}
    <div class="row" style="margin:0px;padding:0;">
        <div class="col-sm-10 no-padding" >
            <div class="pac-card" id="pac-card" style="display: none">
                <div>
                  <div id="title">
                    Search Points in a Location
                  </div>
          
                </div>
                <div id="pac-container">
                  <div class="form-group"  style="margin-top: 1rem;">
                      <input type="text" class="form-control form-control-sm" id="pac-input" 
                          placeholder="Enter Location">
                  </div>
                </div>  
              </div>
            <div id="mapCanvas">
                <loading>Initializing...</loading>
            </div>
            <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name"  class="title"></span><br>
                <span id="place-address"></span>
              </div>
            <beacon></beacon>
        </div>

        <div class="col-sm-2 no-padding">    
            <span></span>
            <div class="card" style="width: 100%;">
                    <div class="card-header">
                      Map Labels
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <img src="/assets/pin.png" width="30" height="30" alt="Accident">
                            <span> -  Control Points </span>
                        </li>
                        <li class="list-group-item">
                            <img src="/assets/user.png" width="30" height="30" alt="Accident">
                            <span> - Current Position </span>
                        </li>
                    </ul>
            </div>     
            <br />
            <br />
            <div class="card" style="width: 100%;">
                    <div class="card-header">
                      Functions
                    </div>
                    <ul class="list-group list-group-flush">
                     <li class="list-group-item">
                        <button type="button" class="btn btn-primary" 
                            onclick="loadHome()" > Display Controls</button>    
                     </li>       
                     {% if session['username'] %}             
                      <li class="list-group-item">
                            <button type="button" class="btn btn-primary" 
                            data-toggle="modal" data-target="#kontrolPointModal">New Control Point</button>    
                      </li>
                      {%endif%}
                      <li class="list-group-item">
                            <button type="button" class="btn btn-primary" 
                            data-toggle="modal" data-target="#searchModal">Search Control Point</button>    
                      </li>                      
                      <li class="list-group-item">
                        <button type="button" class="btn btn-primary" 
                        onclick="searchAreaPoint()">Search in a Location</button>    
                  </li>                      
                    </ul>
            </div>

        </div>
            
    </div>
        
{% endblock %}
{% block scripts %}
  {{super()}}
  <script src="{{url_for('.static', filename='js/map.js')}}"></script>
  <script>
  window.onload = function(){
    loadControlMap()
    App()
    $('#reviewModal').on('shown.bs.modal', function () {
        $('#k-id').val(localStorage.getItem('kontrol_id'))
        $('#k-created-by').val(localStorage.getItem('user_id'))
    })
  }

  function searchAreaPoint(){

    var search_cont = $('#pac-card')
    if (search_cont.css('display')  == "none"){
        search_cont.show('slow')
    }else{
      search_cont.hide('slow')
    }
  }

  function loadHome(){
    location.reload()
  }
</script>
{% endblock %}