{% extends "layout.html" %}
{% block title %} Home Page {% endblock %}

{% block body %} 
    {{super()}}
    <div class="row" style="margin:0px;padding:0;">
        <div class="col-sm-10 no-padding" >
            <div id="mapCanvas">
                <loading>Initializing...</loading>
            </div>
            <beacon></beacon>
        </div>

        <div class="col-sm-2 no-padding">    
            <span></span>
            <div class="card" style="width: 100%;">
                    <div class="card-header">
                      Map Labels
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <img src="/assets/pin.png" width="30" height="30" alt="Accident">
                            <span> -  Control Points </span>
                        </li>
                        <li class="list-group-item">
                            <img src="/assets/user.png" width="30" height="30" alt="Accident">
                            <span> -  Your Current Position </span>
                        </li>
                    </ul>
            </div>     
            <br />
            <br />
            <div class="card" style="width: 100%;">
                    <div class="card-header">
                      Functions
                    </div>
                    <ul class="list-group list-group-flush">
                     <li class="list-group-item">
                        <button type="button" class="btn btn-primary" 
                            onclick="loadControlMap()" > Display Controls</button>    
                     </li>       
                     {% if session['username'] %}             
                      <li class="list-group-item">
                            <button type="button" class="btn btn-primary" 
                            data-toggle="modal" data-target="#kontrolPointModal">New Control Point</button>    
                      </li>
                      {%endif%}
                      <li class="list-group-item">
                            <button type="button" class="btn btn-primary" 
                            data-toggle="modal" data-target="#searchModal">Search Control Point</button>    
                      </li>                      
                    </ul>
            </div>

        </div>
            
    </div>
        
{% endblock %}
{% block scripts %}
  {{super()}}
    <script src="{{url_for('.static', filename='js/map.js')}}"></script>
  <script>
  window.onload = function(){
    loadControlMap()
    App()
  }
</script>
{% endblock %}