{% extends "layout.html" %}

<body>
    {% block body %} 
    {{super()}}
    <br />
    <div class="container padding">
        <div class="row">
            <div class="col-12 col-md-12">
                <nav class="navbar navbar-light bg-light">                        
                    <div>
                        <span class="navbar-text">
                            My Profile
                        </span>
                    </div>
                </nav>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-6 col-md-5">
                
                <h5><u>My Added Points</u></h5>
                <div style="height:600px;margin-top:15px;overflow-x: hidden;
                overflow-y: auto;">         
                    <ul class="list-group">
                        {% for point in points %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col col-9">
                                        <p>
                                            Name : <a href="points/{{point.k_name}}">{{point.k_name}}</a> 
                                            <br><small>
                                                Address : {{point.k_addr_district}} -
                                                {{point.k_addr_county}} - {{point.k_addr_subcounty}}
                                            </small>
                                        </p>
                                        
                                    </div>
                                </div>
                            </li>
                        {% endfor %} 
                        {% if points|length < 1 %}
                            You have not added point to the system
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <h5><u>My Reviews</u></h5>
                <div class="col-12" style="padding-left: 0px;">  
                    <div style="height:600px;margin-top:15px;overflow-x: hidden;
                    overflow-y: auto;">         
                        <ul class="list-group">
                            {% for review in reviews %}
                                <li class="list-group-item">
                                    <div class="row">
                                    <div class="col col-1">
                                        <img src="/assets/{{review.kontrol_foto}}" 
                                                style="height:32px;width:32px"/>
                                        {% if review.kontrol_condition == 'good' %}
                                            <span class="badge badge-primary">
                                                {{review.kontrol_condition}}
                                            </span> 
                                        {% endif %}
                                        {% if review.kontrol_condition == 'poor' %}
                                                <span class="badge badge-warning">
                                                {{review.kontrol_condition}}
                                            </span> 
                                            {% endif %}
                                            {% if review.kontrol_condition == 'demolished' %}
                                            <span class="badge badge-danger">
                                                {{review.kontrol_condition}}
                                            </span> 
                                            {% endif %}
                                        </div>
                                        <div class="col col-9">
                                            <p>
                                                <a href="point/{{review.kontrol_id}}">
                                                    {{review.review_details}}
                                                </a>
                                                <br><small>reviewed on : {{review.created_at}}</small>
                                            </p>
                                            
                                        </div>
                                    </div>
                                </li>
                            {% endfor %} 
                            {% if reviews|length < 1 %}
                                Current this Control has No Reviews
                            {% endif %}
                        </ul>
                    </div>     
                </div>
    
            </div>
            
        </div>

    </div> 

    
    {% include 'includes/_edit_point.html' %}

    {% endblock %}

</body>
{% block scripts %}
  {{super()}}
<script>
    window.onload = function(){
    }
  </script>
{% endblock %}