<div class="modal fade" id="kontrolPointModal" tabindex="-1" role="dialog" aria-labelledby="kontrolPointModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="kontrolPointModalLabel">New Control Point</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form action="/create-point" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label for="k-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control form-control-sm" id="k-name" name="k_name" required>
                </div>
                {% if session['user_id'] %} 
                    <input type="number" class="form-control form-control-sm" id="k-created_by" 
                        value="{{session['user_id']}}" name="k_created_by" hidden required>
                {% endif %}
                <div class="form-group">
                    <label for="k-description" class="col-form-label">Description:</label>
                    <textarea class="form-control form-control-sm" id="k-description" name="k_description"
                        pattern=".+{,5}" maxlength="150" rows="2" required></textarea>
                </div>
                <div class="form-group multline-group">
                        <label class="col-form-label font-weight-normal">UTM :</label> 
                </div>
                <div class="form-row">
                        <div class="col-md-4 mb-4">
                              <input type="number" class="form-control form-control-sm" id="k-utm-n" 
                                name="k_utm_n" placeholder="N" maxlength="6" required>
                        </div>
                        <div class="col-md-4 mb-4">
                                <input type="number" class="form-control form-control-sm" id="k-utm-e" 
                                  name="k_utm_e" placeholder="E" maxlength="6" required>
                          </div>
                        <div class="col-md-4 mb-4">
                              <input type="number" class="form-control form-control-sm" id="k-utm-h" 
                                name="k_utm_h" placeholder="H" maxlength="6" required>
                        </div>
                </div>                
                <div class="form-group multline-group">
                        <label for="k-district" class="col-form-label">Address Name:</label>
                </div>
                <div class="form-row">
                            <div class="col-md-4 mb-4">
                              <input type="text" class="form-control form-control-sm" id="k-addr-district" 
                                name="k_addr_district" placeholder="district" maxlength="25" required>
                            </div>
                            <div class="col-md-4 mb-4"> 
                              <input type="text" class="form-control form-control-sm" id="k-addr-county" 
                                name="k_addr_county" placeholder="county" maxlength="15" required>
                            </div>
                            <div class="col-md-4 mb-4">
                              <input type="text" class="form-control form-control-sm" id="k-addr-subcounty" 
                                name="k_addr_subcounty" placeholder="sub county" maxlength="15" required>
                            </div>
                </div>
                <div class="form-row">
                        <div class="col-md-6 mb-6">
                          <label for="k-geo-lat" class="font-weight-light">Latitude</label>
                          <input type="number" class="form-control form-control-sm" id="k-geo-lat" 
                            name="k_geo_lat" placeholder="lat" required step="any">
                        </div>
                        <div class="col-md-6 mb-6">
                          <label for="k-geo-lng" class="font-weight-light">Longitude</label>
                          <input type="number" class="form-control form-control-sm" id="k-geo-lng" 
                            name="k_geo_lng" placeholder="lng"  required step="any">
                        </div>
                </div>
                <div class="form-group multline-group">
                    <label class="col-form-label font-weight-normal">Technology :</label> 
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                            <select id="k-method-fixation" class="form-control" name="k_method_of_fixation">
                              <option selected>Fixation Method</option>
                              <option value="gps">GPS</option>
                            </select>
                    </div>                    
                    <div class="form-group col-md-6">
                            <select id="k-equip-used" class="form-control" name="k_equip_used">
                              <option selected value=''>Choose Equipment Used</option>
                              <option value="wild_gps">Wild GPS System</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Point</button>
            </div>
        </form>
        </div>
        </div>
    </div> 

    <script>
        bootstrapValidate(['#k-name','#k-description'], 'min:10:Enter at least 10 characters!')
        bootstrapValidate(['#k-addr-district','#k-addr-county','#k-addr-subcounty'],'required: Atleast 3 characters acceptable')
        bootstrapValidate(['#k-utm-n','#k-utm-e','#k-utm-h'],'numeric:Only Numbers accepted')
    </script> 